.vscode/**
.vscode-test/**
out/**
out/**/*.map
!webview-ui/dist/assets
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/out/**
webpack.config.js
eslint.config.mjs
.github/**
CONTRIBUTING.md
CODE_OF_CONDUCT.md
MAINTAINERS.md
SECURITY.md
docs/**
.vscode-test.mjs
dalec-vscode-tools-*.vsix
tsconfig.json
vsc-extension-quickstart.md
tslint.json
node_modules/**
!node_modules/vscode/**
!node_modules/bufferutil/**
!node_modules/cross-spawn/**
!node_modules/utf-8-validate/**